*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

ul{
    list-style-type: none;
}

/* Used in all the anchor element used in this project */
a:link, a:visited{
    text-decoration: none;
    display: inline-block;
    margin-top: 1.8rem;
    padding:1rem;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    color: #005FAC;
}

a:hover, a:active{
    background-color:rgba(204, 10, 204, 0.836);
    color: #ffffff;
}

/* header style */
header{
    width: 100%;
    min-height: 100vh;
    background-image: url(./images/banner/banner3.png);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 5rem 0rem 8rem 0rem;
}

header .content-container{
    width: 40%;
    margin:5rem 7rem 0 auto;
    text-align: end;
}

.content-container h1{
    /* width: 50%; */
    color: white;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.content-container p{
    /* width: 50%; */
    margin-top:2rem;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* main style */
main{
    width: 85%;
    margin:0 auto ;
}

/* main -> myFailure section style */
.myfailures{
    margin-top:5rem;
    display: flex;
    gap:8rem
}

.myfailures img{
    width: 40%;
 }

.failures{
    width: 40%;
    margin-top: 10rem;
}

.failures h1{
    width: 80%;
    font-weight:700;
    font-size: 40px;
    line-height: 47px;
    color:#151414;
    margin-bottom: 1.4rem;
}

.failures p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.failures-list{
    margin-top: 1rem;
}

.point{
    display: flex;
    align-items: center;
}

.point i{
    color:#16D886;
    margin-right: 0.4rem;
}

/* main -> myPlan section style */
.myPlan{
    margin: 9rem 0 0 1rem;
    text-align: center;
}

.myPlan h1{
    font-size: 3rem;
}

.myPlan .plan-list{
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0 0;
}

.plan-list .plan{
    width: 22%;
}

.plan img{
    width: 40%;
    margin: 1rem 0;
}

.plan h3{
    font-size: 1.5rem;
    line-height: 1.5;
}

.plan p{
    font-size: 0.9rem;
}

/* main -> positive mindset section style */
.positive-mindset{
    margin: 10rem 0;
    width: 100%;
    min-height: 45vh;
    background-image: linear-gradient(to right, rgba(0, 95, 172, 1), rgba(0, 0, 0, 0)),
    url('images/watch.png');
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding:2rem 3rem;
}

.positive-mindset h1{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    width:60%;
}