*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     /* background-image: linear-gradient(to right, rgba(243, 149, 8, 0.733), rgba(0, 0, 0, 0)),
    url('images/watch.png'); */
}

header{
    
}